<div class="text-center items-center mt-10">
  <h5 class="mb-10 md:text-4xl text-2xl font-bold text-gray-900 dark:text-white tracking-wide">
    Mon parcours académique
  </h5>
  <div class="flex justify-center mt-32">
    <ol class="flex flex-col">
      <li class="flex">
        <div class="block max-w-sm md:max-w-[310px] m-5 mt-20 h-fit p-5 bg-slate-200 rounded-xl shadow dark:bg-slate-800 border border-gray-200 dark:border-slate-700">
          <div class="divide-y divide-gray-600">
            <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">2021</h5>
              <ul class="list-disc list-inside text-left">
                <li class="font-normal text-gray-700 dark:text-gray-400 mt-3">Obtention du baccalauréat général mention assez bien</li>
                <li class="font-normal text-gray-700 dark:text-gray-400 mt-3">Entrée à l'IUT de Montreuil en BUT informatique</li>
              </ul>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="self-center h-1/2 bg-slate-200 dark:bg-slate-800 w-1 rounded-t-full"></div>
          <div class="p-4 shadow-sm bg-slate-200 dark:bg-slate-800 w-10 h-10 rounded-full border border-gray-200 dark:border-slate-700">
          </div>
          <div class="self-center h-1/2 bg-slate-200 dark:bg-slate-800 w-1"></div>
        </div>
        <div class="max-w-sm m-5 mt-20 h-fit p-5 bg-slate-200 rounded-xl shadow dark:bg-slate-800 invisible">
          <div class="divide-y divide-gray-600">
            <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">2021</h5>
            <ul class="list-disc list-inside text-left">
              <li class="font-normal text-gray-700 dark:text-gray-400 mt-3">Obtention du baccalauréat général</li>
              <li class="font-normal text-gray-700 dark:text-gray-400 mt-3">Entrée à l'IUT de Montreuil</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="flex mt-0">
        <div class="block max-w-sm m-5 mt-20 h-fit p-5 bg-slate-200 rounded-xl shadow dark:bg-slate-800 border border-gray-200 dark:border-slate-700 invisible">
          <div class="divide-y divide-gray-600">
            <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">2022</h5>
            <ul class="list-disc list-inside text-left">
              <li class="font-normal text-gray-700 dark:text-gray-400 mt-3">Obtention du baccalauréat général</li>
              <li class="font-normal text-gray-700 dark:text-gray-400 mt-3">Entrée à l'IUT de Montreuil</li>
            </ul>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="self-center h-1/2 bg-slate-200 dark:bg-slate-800 w-1"></div>
          <div class="p-4 shadow-sm bg-slate-200 dark:bg-slate-800 w-10 h-10 rounded-full border border-gray-200 dark:border-slate-700">
          </div>
          <div class="self-center h-1/2 bg-slate-200 dark:bg-slate-800 w-1"></div>
        </div>
        <div class="block max-w-sm m-5 mt-20 h-fit p-5 bg-slate-200 rounded-xl shadow dark:bg-slate-800 border border-gray-200 dark:border-slate-700">
          <div class="divide-y divide-gray-600">
            <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">2022</h5>
            <ul class="list-disc list-inside text-left">
              <li class="font-normal text-gray-700 dark:text-gray-400 mt-3">Début de l'alternance chez SAP dans l'équipe cross-engineering</li>
              <li class="font-normal text-gray-700 dark:text-gray-400 mt-3">Présentation de ma mission à d'autres équipes</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="flex mt-0">
        <div class="block max-w-sm m-5 mt-20 h-fit md:max-w-[310px] p-5 bg-slate-200 rounded-xl shadow dark:bg-slate-800 border border-gray-200 dark:border-slate-700">
          <div class="divide-y divide-gray-600">
            <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">2023</h5>
            <ul class="list-disc list-inside text-left">
              <li class="font-normal text-gray-700 dark:text-gray-400 mt-3">Début d'une nouvelle mission à SAP</li>
            </ul>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="self-center h-1/2 bg-slate-200 dark:bg-slate-800 w-1"></div>
          <div class="p-4 shadow-sm bg-slate-200 dark:bg-slate-800 w-10 h-10 rounded-full border border-gray-200 dark:border-slate-700">
          </div>
          <div class="self-center h-1/2 bg-slate-200 dark:bg-slate-800 w-1"></div>
        </div>
        <div class="block max-w-sm m-5 mt-20 h-fit p-5 bg-slate-200 rounded-xl shadow dark:bg-slate-800 border border-gray-200 dark:border-slate-700 invisible">
          <div class="divide-y divide-gray-600">
            <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">2023</h5>
            <ul class="list-disc list-inside text-left">
              <li class="font-normal text-gray-700 dark:text-gray-400 mt-3">Obtention du baccalauréat général</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="flex mt-0 mb-5 rounded-b-full">
        <div class="block max-w-sm m-5 mt-20 h-fit p-5 bg-slate-200 rounded-xl shadow dark:bg-slate-800 border border-gray-200 dark:border-slate-700 invisible">
          <div class="divide-y divide-gray-600">
            <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">2024</h5>
            <ul class="list-disc list-inside text-left">
              <li class="font-normal text-gray-700 dark:text-gray-400 mt-3">Obtention du baccalauréat général</li>
            </ul>
          </div>
        </div>
        <div class="flex flex-col">
            <div class="self-center h-1/2 bg-slate-200 dark:bg-slate-800 w-1 rounded-b-full"></div>
            <div class="p-4 shadow-sm bg-slate-200 dark:bg-slate-800 w-10 h-10 rounded-full border border-gray-200 dark:border-slate-700"></div>
        <div class="self-center h-1/2 bg-slate-200 dark:bg-slate-800 w-1"></div>
          <div class="self-center -mt-3">
            <svg id="arrowEndTimeline" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>
          </div>
        </div>
        <div class="block max-w-sm m-5 mt-20 h-fit p-5 bg-slate-200 rounded-xl shadow dark:bg-slate-800 border border-gray-200 dark:border-slate-700">
          <div class="divide-y divide-gray-600">
            <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">2024</h5>
            <ul class="list-disc list-inside text-left">
              <li class="font-normal text-gray-700 dark:text-gray-400 mt-3">Recherche d'une école d'ingénieur</li>
              <li class="font-normal text-gray-700 dark:text-gray-400 mt-3">À suivre...</li>
            </ul>
          </div>
        </div>
      </li>
    </ol>
  </div>
</div>
