<nav class="backdrop-blur dark:bg-slate-800 dark:bg-opacity-80 dark:text-white bg-white bg-opacity-80 text-black shadow-lg hidden md:block top-0 z-50 sticky">
  <div class="container mx-auto flex items-center h-24">
    <a routerLink="/" class="flex items-center justify-center">
      <div class="border-solid bg-white border-gray-200 shadow dark:bg-slate-800 dark:border-slate-700 border-2 self-center m-5 rounded-full p-0.5">
      <img class="h-16 rounded-full" src="assets/images/logo_Armandpro.png" alt=""/>
      </div>
    </a>
    <div class="contents font-semibold text-base lg:text-lg">
      <ul class="mx-auto flex items-center">
        <li class="p-5 xl:p-8 active">
          <a routerLink="/">
            <span>Accueil</span>
          </a>
        </li>
        <li class="p-5 xl:p-8">
          <a routerLink="/missions">
            <span>Missions</span>
          </a>
        </li>
        <li class="p-5 xl:p-8">
          <a routerLink="/projets">
            <span>Projets</span>
          </a>
        </li>
        <li class="p-5 xl:p-8">
          <a routerLink="/parcours">
            <span>Parcours</span>
          </a>
        </li>
        <li class="p-5 xl:p-8">
          <a routerLink="/cv">
            <span>CV</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
