/* You can add global styles to this file, and also import features style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

@media (prefers-color-scheme: dark){
  #arrowEndTimeline {
    stroke-width: 5;
    stroke: #1e293b;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(30, 41, 59);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(51, 65, 85);
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(71, 85, 105);
  }

}

@media (prefers-color-scheme: light){

  #arrowEndTimeline {
    stroke-width: 5;
    stroke: #e2e8f0;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(226, 232, 240);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #9ca3af;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

}
